<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Random Recipe Generator</title>
    <link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div>
        <h1>Recipe Ideas</h1>

        <form action="/recipeForm" method="get">
            Get a Random Recipe Idea:
            <input type="submit" value="Give me a Recipe" class="button">
        </form>

        <hr>

        <form action="/savedRecipes" method="get">
            Browse your saved recipes:
            <input type="submit" value="Saved Recipes" class="button">
        </form>
    </div>
    
</body>

